<% provide(:title, '1学年展示') %>
<h1>1学年展示</h1>

<%= link_to "データ登録", new_homeroom_path, class: "ui-btn" %>

<ul data-role = "listview" data-inset="true">
  <% if @homerooms.any? %>
	<% @homerooms.each do |homeroom| %>
		<div data-role="collapsible">
			<h2><%= homeroom.shop_name %></h2>
			<p><%= simple_format homeroom.content %></p>
			<% if homeroom.menu != '' %>
				<strong>メニュー</strong>
				<p><%= simple_format homeroom.menu %></p>
			<% end %>
			<% if signed_in? && current_user.role_id == 1 %>
			  <p><%= link_to "変更する", edit_homeroom_path(homeroom.id), class: "ui-btn" %></p>
			<% end %>
		</div>
	<% end %>
  <% else %>
    <li>登録されていません。</li>
  <% end %>
</ul>