<h1>青商祭2015</h1>
<p>
    2015年青森商業高校文化祭です。
</p>

<ul>
	<li><%= link_to "ホーム", root_path %></li>
	<li><%= link_to "このアプリについて", about_path %></li>
</ul>

<h2>青商祭プログラム</h2>
<ul>
<li><%= link_to "展示", "#" %></li>
<li><%= link_to "ステージ発表", stage_path %></li>
<li><%= link_to "校内マップ", map_path %></li>
</ul>