<h1>青商祭2015</h1>
<% if signed_in? %>

<p>ようこそ、<%= current_user.name %> さん</p>

<ul>
	<li><%= link_to "マイプロフィール", current_user %></li>
	<li><%= link_to "模擬店一覧", users_path %></li>
</ul>

<% else %>
<p>
    2015年のテーマは
    『青商乱舞〜祭の藍てぃー革命や！！〜』です。
</p>

<h2>青商祭プログラム</h2>
<ul>
<li>展示</li>
	<ul>
		<li><%= link_to "3学年模擬店", disp_3rd_path %></li>
		<li><%= link_to "2学年展示", disp_2rd_path %></li>
		<li><%= link_to "1学年展示", disp_1rd_path %></li>
		<li><%= link_to "文化部展示", disp_cul_path %></li>
		<li><%= link_to "PTA", disp_pta_path %></li>
	</ul>
<li><%= link_to "ステージ発表", stage_path %></li>
<li><%= link_to "校内マップ", map_path %></li>
</ul>
<% end %>