<center><%= image_tag "seishosai15_blue.png", class: 'fw' %></center>

<div id = "top-picture">
<center><%= image_tag "seishosai2015.jpg", class: 'fw' %></center>
</div>

<div id="content">
<p>
	<strong>青商祭日程</strong><br>
	10月17日（土） 12:30〜15:00<br>
	10月18日（日） 9:00〜13:30
</p>
</div>
<br>
<ul data-role = "listview" data-inset="true">
	<li data-role = "list-divider">新規投稿一覧</li>
	<% if @posts.any? %>
		<% @posts.each do |post| %>
			<li data-icon="false">
				<% if post.coupon == 1 %>
					<%= link_to post do %>
                        <h3><%= post.title %> <%= image_tag "coupon16.png" %></h3>
                        <p><%= post.homeroom.shop_name %> (3-<%= post.homeroom.id %>) - <%= time_ago_in_words(post.created_at) %>前</p>
                    <% end %>
    			<% else %>
    				<%= link_to post do %>
                        <h3><%= post.title %></h3>
                        <p><%= post.homeroom.shop_name %> (3-<%= post.homeroom.id %>) - <%= time_ago_in_words(post.created_at) %>前</p>
                    <% end %>
       			<% end %>
    		</li>
  		<% end %>
		<li><%= link_to "記事をもっと見る", posts_path %></li>
	<% else %>
		<li>投稿はありません。</li>
	<% end %>
</ul>


<h2>青商祭プログラム</h2>
<div data-role="collapsible">
	<h3>展示</h3>
	<ul data-role="listview">
		<li><%= link_to "3学年模擬店　青商屋台村", homerooms_path %></li>
		<li><%= link_to "2学年物販　青商市場", disp_2rd_path %></li>
		<li><%= link_to "1学年展示・装飾", disp_1rd_path %></li>
		<li><%= link_to "文化部展示", disp_cul_path, class: "data-corners=true" %></li>
		<li><%= link_to "PTA", disp_pta_path %></li>
	</ul>
</div>

<%= link_to "ステージ発表", stages_path, class: "ui-btn ui-corner-all" %>
<%= link_to "校内マップ", map_path, class: "ui-btn ui-corner-all" %>