<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	
	<%= f.label :email, "メールアドレス" %>
	<%= f.text_field :email %>

	<%= f.label :password, "パスワード" %>
	<%= f.password_field :password %>

	<%= f.submit "ログイン", class: "btn btn-large btn-primary" %>

<% end %>