<% provide(:title, "プロフィール変更") %>
<h1>設定</h1>

<% if signed_in? && current_user.role_id == 2 %>
    <div data-role = "navbar">
        <ul>
            <li><%= link_to "ユーザー情報", edit_user_path, class: "ui-btn-active" %></li>
            <li><%= link_to "プロフィール", edit_homeroom_path %></li>
        </ul>
    </div>
<% end %>

<h2>ユーザー情報</h2>

<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name, "アカウント名" %>
    <%= f.text_field :name %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
<% end %>