<% provide(:title, "プロフィール変更") %>
<h1>プロフィール変更</h1>

<h2>基本情報</h2>
<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name, "アカウント名" %>
    <%= f.text_field :name %>

    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>

    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "パスワード確認" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
<% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">画像の変更</a>

<hr noshade="noshade">

<h2>プロフィール</h2>

<%= form_for(@homeroom) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :shop_name, "店名" %>
    <%= f.text_field :shop_name %>

    <%= f.label :content, "本文" %>
    <%= f.text_area :content %>

    <%= f.label :menu, "メニュー" %>
    <%= f.text_area :menu %>

    <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
<% end %>