<% provide(:title, "マイページ") %>

<% if signed_in? && current_user.role_id == 1 %>

  <h1>管理者専用ページ</h1>
  <p>
  	お疲れ様です！<br>
	現在<strong><%= @user.name %></strong>でログインしています。<br>
	追加や編集を行なう場合は下のボタンからお願いします。
  </p>

  <%= link_to "3学年模擬店一覧へ", homerooms_path, class: "ui-btn" %>
  <%= link_to "2学年展示一覧へ", disp_2rd_path, class: "ui-btn" %>
  <%= link_to "1学年展示一覧へ", disp_1rd_path, class: "ui-btn" %>
  <br>
  <%= link_to "文化部展示一覧へ", disp_cul_path, class: "ui-btn" %>
  <%= link_to "PTA展示一覧へ", disp_pta_path, class: "ui-btn" %>
  <%= link_to "ステージ発表一覧へ", stages_path, class: "ui-btn" %>

<% else %>

  <h1>
	<center>
	  <% if @user.homeroom.icon? %>
		<%= image_tag @user.homeroom.icon.url %>
	  <% else %>
		<%= image_tag("noimage.jpg", alt: "No Image") %>
	  <% end %>
	  <br>
	  <%= @user.homeroom.shop_name %>
	</center>
  </h1>
  <center>
  	現在<strong><%= @user.name %></strong>でログインしています
  </center>

  <div id = "content">
	<p><%= simple_format @user.homeroom.content %></p>
	<hr>
	<p><strong>メニュー</strong><br><%= simple_format @user.homeroom.menu %></p>
  </div>
  <%= link_to "プロフィール変更", edit_user_path(@user), class: "ui-btn" %>

  <br><hr><br>

  <%= link_to "記事を投稿する", new_post_path, class: "ui-btn" %>

  <ul data-role = "listview" data-inset="true">
    <li data-role = "list-divider">記事一覧(<%= @homeroom.posts.count %>)</li>
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post do %>
            <h3>
              <% if post.coupon == 1 %>
                <%= image_tag "c_icon.png" %>
              <% end %>
              <%= post.title %>
            </h3>
            <p>
          	  <%= post.homeroom.shop_name %> (3-<%= post.homeroom.id %>) - <%= time_ago_in_words(post.created_at) %>前 
              <% if current_user.likes.find_by(post_id: post.id) %>
                <%= image_tag "checkmegaphone16.png" %>
              <% else %>
              <%= image_tag "megaphone16.png" %>
              <% end %>
              <%= post.likes.count %>
            </p>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li>記事はありません。</li>
    <% end %>
  </ul>
<% end %>