<% provide(:title, "マイページ") %>
<h1>
	<center><%= gravatar_for @user %><br>
		<%= @user.homeroom.shop_name %>
	</center>
</h1>
<center>(<%= @user.name %>)</center>
<p><%= simple_format @user.homeroom.content %></p>

<strong>メニュー</strong><%= simple_format @user.homeroom.menu %><br>
<%= link_to "プロフィール変更", edit_user_path(@user), class: "ui-btn" %>

<br><hr><br>

<%= link_to "記事を投稿する", new_post_path, class: "ui-btn" %>

<h2>記事一覧(<%= @homeroom.posts.count %>)</h2>

<ul data-role = "listview" data-inset="true">
	<% @posts.each do |post| %>
    	<li>
     		<%= link_to "#{post.title}   -   #{time_ago_in_words(post.created_at)}前", post %>
    	</li>
  	<% end %>
</ul>