<% provide(:title, "マイページ") %>
<h1>
	<center><%= gravatar_for @user %><br>
		<%= @user.homeroom.shop_name %>
	</center>
</h1>
<center>(<%= @user.name %>)</center>
<p><%= @user.homeroom.content %></p>

メニュー：<strong><%= @user.homeroom.menu %></strong><br>
<%= link_to "プロフィール変更", edit_user_path(@user), class: "ui-btn" %>

<br><hr><br>

<ul>
	<% @posts.each do |post| %>
    	<li>
     		<%= post.title %>
    	</li>
  	<% end %>
</ul>