<% provide(:title, "マイページ") %>
<h1>
	<center><%= gravatar_for @user %><br>
		<%= @user.homeroom.shop_name %>
	</center>
</h1>
<center>(<%= @user.name %>)</center>
<p><%= @user.homeroom.content %></p>

メニュー：<strong><%= @user.homeroom.menu %></strong><br>
<%= link_to "プロフィール変更", edit_user_path(@user), class: "ui-btn" %>

<br><hr><br>

<%= link_to "記事を投稿する", new_post_path, class: "ui-btn" %>

<h2>記事一覧(<%= @homeroom.posts.count %>)</h2>

<ul data-role = "listview">
	<% @posts.each do |post| %>
    	<li>
     		<%= link_to post.title, post %>
    	</li>
  	<% end %>
</ul>