<% provide(:title, "プロフィール変更") %>
<h1 class="title">設定</h1>

<% if signed_in? && current_user.role_id == 2 %>
    <div data-role = "navbar">
        <ul>
            <li><%= link_to "ユーザー情報", edit_user_path %></li>
            <li><%= link_to "プロフィール", edit_homeroom_path, class: "ui-btn-active" %></li>
        </ul>
    </div>



<h2>プロフィールページ</h2>
<% else %>
<h2>出展物情報編集</h2>
<% end %>
<%= form_for(@homeroom, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% if @homeroom.id < 7 %>
        <center>
            <% if @homeroom.icon? %>
                <%= image_tag @homeroom.icon.url %>
            <% else %>
                <%= image_tag("noimage.jpg", alt: "No Image") %>
            <% end %>
        </center>

        <%= f.label :icon, "画像" %>
        <%= f.file_field :icon %>

        <% if @homeroom.icon? %>
            <label><%= f.check_box :remove_icon %>画像を削除</label>
        <% end %>
    <% end %>

    <%= f.label :shop_name, "店名(*必須)" %>
    <%= f.text_field :shop_name %>

    <%= f.label :content, "紹介文(*必須)" %>
    <%= f.text_area :content %>

    <%= f.label :menu, "メニュー" %>
    <%= f.text_area :menu %>

    <% if current_user.role_id == 1 %>
        <label><%= f.radio_button :category, 5 %> 3学年模擬店</label>
        <label><%= f.radio_button :category, 1 %> 1学年展示・装飾</label>
        <label><%= f.radio_button :category, 2 %> 2学年物販</label>
        <label><%= f.radio_button :category, 3 %> 文化部・生徒会展示</label>
        <label><%= f.radio_button :category, 4 %> PTA・モータースクール</label>
    <% end %>

    <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
<% end %>

</div>