<% provide(:title, "プロフィール変更") %>
<h1>設定</h1>

<% if signed_in? && current_user.role_id == 2 %>
    <div data-role = "navbar">
        <ul>
            <li><%= link_to "ユーザー情報", edit_user_path %></li>
            <li><%= link_to "プロフィール", edit_homeroom_path, class: "ui-btn-active" %></li>
        </ul>
    </div>
<% end %>


<h2>プロフィール</h2>
<%= form_for(@homeroom, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% if @homeroom.id < 7 %>
        <center>
            <% if @homeroom.icon? %>
                <%= image_tag @homeroom.icon.url %>
            <% else %>
                <%= image_tag("noimage.jpg", alt: "No Image") %>
            <% end %>
        </center>

        <%= f.label :icon, "画像" %>
        <%= f.file_field :icon %>

        <% if @homeroom.icon? %>
            <label><%= f.check_box :remove_icon %>画像を削除</label>
        <% end %>
    <% end %>

    <%= f.label :shop_name, "店名" %>
    <%= f.text_field :shop_name %>

    <%= f.label :content, "本文" %>
    <%= f.text_area :content %>

    <%= f.label :menu, "メニュー" %>
    <%= f.text_area :menu %>

    <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
<% end %>

</div>