<% provide(:title, @homeroom.shop_name) %>
<center>
	<h1>
		<%= gravatar_for @user %><br>
		<%= @homeroom.shop_name %>
	</h1>
	(3年<%= @homeroom.id %>組)
</center>

<p><%= @homeroom.content %></p>
<p>
	<strong>メニュー:</strong>
	<%= @homeroom.menu %>
</p>

<hr>

<% if @homeroom.posts.any? %>
    <h2>記事一覧 (<%= @homeroom.posts.count %>)</h2>
    <ul data-role = "listview">
		<% @posts.each do |post| %>
    		<li>
     			<%= link_to post.title, post %>
    		</li>
		<% end %>
	</ul>
<% else %>
	<h3>記事はありません。</h3>
<% end %>