<% provide(:title, @homeroom.shop_name) %>
<center>
	<h1>
		<center>
			<% if @homeroom.icon? %>
				<%= image_tag @homeroom.icon.url %>
			<% else %>
				<%= image_tag("noimage.jpg", alt: "No Image") %>
			<% end %>
		</center>
		<br>
		<%= @homeroom.shop_name %>
	</h1>
	(3年<%= @homeroom.id %>組)
</center>

<div id="content">
<p><%= simple_format @homeroom.content %></p>
<hr>
<p>
	<strong>メニュー</strong>
	<%= simple_format @homeroom.menu %>
</p>
</div>

<% if signed_in? and current_user.role_id == 1 %>
	<%= link_to "編集", edit_homeroom_path, class: "ui-btn" %>
<% end %>

<hr>

<% if @homeroom.posts.any? %>
    <h2>記事一覧 (<%= @homeroom.posts.count %>)</h2>
    <ul data-role = "listview" data-inset="true">
		<% @posts.each do |post| %>
    		<li>
     			<%= link_to "#{post.title}   -   #{time_ago_in_words(post.created_at)}前", post %>
    		</li>
		<% end %>
	</ul>
<% else %>
	<h3>記事はありません。</h3>
<% end %>