<% provide(:title, "投稿一覧") %>

<% if current_user.role_id == 1 %>
  <%= link_to "記事投稿", new_post_path, class: "ui-btn" %>
<% end %>

<ul data-role = "listview" data-inset="true">
  <li data-role = "list-divider">新規投稿一覧</li>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <li data-icon="false">
        <%= link_to post do %>
          <h3>
            <% if post.coupon == 1 %>
              <%= image_tag "c_icon.png" %>
            <% end %>
            <%= post.title %>
          </h3>
          <p>
            <%= post.homeroom.shop_name %> <% if post.homeroom.id < 7 %>(3-<%= post.homeroom.id %>)<% end %> - <%= time_ago_in_words(post.created_at) %>前 
            <% if current_user.likes.find_by(post_id: post.id) %>
              <%= image_tag "checkmegaphone16.png" %>
            <% else %>
              <%= image_tag "megaphone16.png" %>
            <% end %>
            <%= post.likes.count %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li>投稿はありません。</li>
  <% end %>
</ul>
