<% provide(:title, "記事投稿") %>

<%= form_for(@post, html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    <% if current_user.role_id == 1 %>
        管理者はここでクラスを選択して記事を投稿出来るようになりました！<br>
        【管理者として投稿】は、お店としてではなく管理者として記事を投稿することができます。
        <label><%= f.radio_button :homeroom_id, 1 %> 二代目里村PIYA（3年1組）</label>
        <label><%= f.radio_button :homeroom_id, 2 %> セージん家（3年2組）</label>
        <label><%= f.radio_button :homeroom_id, 3 %> 33 カフェ（3年3組）</label>
        <label><%= f.radio_button :homeroom_id, 4 %> めん・めん倶楽部（3年4組）</label>
        <label><%= f.radio_button :homeroom_id, 5 %> 丸亀BACKS（3年5組）</label>
        <label><%= f.radio_button :homeroom_id, 6 %> SunRock（3年6組）</label>
        <label><%= f.radio_button :homeroom_id, 8 %> 管理者として投稿</label>
    <% end %>

    <%= f.label :title, "タイトル(*必須)" %>
    <%= f.text_field :title %>

    <%= f.label :content, "本文(*必須)" %>
    <%= f.text_area :content %>

    <%= f.label :image, "画像" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <br>

    <%= f.label :coupon, "クーポンを掲載する" %>
    <%= f.check_box :coupon, {}, "1", "0" %>

    <%= f.label :c_content, "クーポンの内容(100字以内)" %>
    <%= f.text_field :c_content %>

    <br>

    <%= f.submit "記事を投稿する", class: "btn btn-large btn-primary" %>
<% end %>