<% provide(:title, @post.title) %>

<div id = "content">
<h1><%= @post.title %></h1>

<p>投稿者: <%= link_to @post.homeroom.shop_name, @homeroom %> (3-<%= @post.homeroom.id %>)</p>
<p><%= l(@post.created_at, format: :default) %></p>
<% if @post.coupon == 1 %>
    <strong>【クーポンあり】</strong>
<% end %>

<hr>

<p><%= simple_format @post.content %></p>

<% if @post.image? %>
	<%= image_tag @post.image.url %>
<% end %>

<% if @post.coupon == 1 %>
	<br>
	<div id = "coupon">
		<p>
			<center>
				H27 青商祭クーポン<br>
				<strong><%= simple_format @post.c_content %></strong><br>
				<%= @post.homeroom.shop_name %><br>
				（3年<%= @post.homeroom.id %>組）
			</center>
		</p>
	</div>
	<br>
<% end %>
</div>

<% if signed_in? %>
	<% if current_user.homeroom_id == @post.homeroom_id or current_user.role_id == 1 %>

		<hr><br>
    	<%= link_to "削除", @post, method: :delete, data: { confirm: "本当によろしいですか？" }, title: @post.content, class: "ui-btn" %>
    	<%= link_to "記事を編集", edit_post_path, class: "ui-btn" %>
<% end %>
<% end %>

<%= link_to "記事一覧へ戻る", posts_path, class: "ui-btn"  %>