<% provide(:title, @post.title) %>

<div id = "content">
  <h1>
    <%= @post.title %>
    <% if @post.coupon == 1 %>
      <%= image_tag "c_icon.png" %>
    <% end %>
  </h1>
  <p>
  	投稿者: <%= link_to @post.homeroom.shop_name, @homeroom %> (3-<%= @post.homeroom.id %>)
  </p>
  <p><%= l(@post.created_at, format: :default) %></p>
  <% if current_user.likes.find_by(post_id: @post.id) %>
    <%= image_tag "checkmegaphone16.png" %><%= @post.likes.count %> (<strong>応援中！</strong>)
  <% else %>
    <%= image_tag "megaphone16.png" %><%= @post.likes.count %>
  <% end %>

  <hr>

  <% if @post.image? %>
	<%= image_tag @post.image.url, class: "fw" %>
  <% end %>
  <p><%= simple_format @post.content %></p>
  <% if @post.coupon == 1 %>
	<br>
	<div id="coupon">
	  <center>
	    <div id="c_content">
		  <strong><%= simple_format @post.c_content %></strong>
		  <%= @post.homeroom.shop_name %> 
		  （3-<%= @post.homeroom.id %>）
		</div>
	  </center>
	  <br>
	</div>
	<br>
	<%= image_tag "wborder.png", class: "fw" %>	
  <% end %>

  <!-- debug用コード -->
  <% if current_user.role_id == 1 %>
    <div id="content">
      <p>現在の投稿のポイント：<%= @post.point %></p>
    </div>
  <% end %>

  <% if current_user.role_id == 3 %>
    <% unless current_user.likes.find_by(post_id: @post.id) %>
	    <%= form_for(current_user.likes.build(post_id: @post.id)) do |f| %>
	      <%= f.hidden_field :post_id, :value => @post.id %>
	      <%= f.hidden_field :user_id, :value => current_user.id %>
	      <%= f.submit "応援する！", :class => "like_button" %>
        <script>
        function likes_point(){
            @post.point += 1*@post.count
          }
        </script>
	    <% end %>
    <% else %>
      <div id = "like">
        <center>
          <%= image_tag "checkmegaphone32.png" %><strong>応援しています！</strong>
        </center>
      </div>
    <% end %>
  <% end %>
</div>

<% if signed_in? %>
  <% if current_user.homeroom_id == @post.homeroom_id or current_user.role_id == 1 %>
    <hr><br>
    <%= link_to "削除", @post, method: :delete, data: { confirm: "本当によろしいですか？" }, title: @post.content, class: "ui-btn" %>
    <%= link_to "記事を編集", edit_post_path, class: "ui-btn" %>
  <% end %>
<% end %>

<%= link_to "記事一覧へ戻る", posts_path, class: "ui-btn"  %>