<div data-role="panel" id="navpanel" data-position="right" data-display="overlay">
	<ul data-role="listview">
		<% if signed_in? %>
			<li><%= link_to "マイページ", current_user %></li>
			<li><%= link_to "記事一覧", posts_path %></li>
			<li><%= link_to "模擬店一覧", homerooms_path %></li>
			<% if current_user.role_id != 1 %>
				<li><%= link_to "記事を投稿する", new_post_path(current_user) %></li>
			<% end %>
			<li><%= link_to "ログアウト", signout_path, method: "delete" %></li>
		<% else %>
			<li><%= link_to "ホーム", root_path %></li>
			<li><%= link_to "記事一覧", posts_path %></li>
			<li><%= link_to "模擬店一覧", homerooms_path %></li>
			<li><%= link_to "このアプリについて", about_path %></li>
			<li><%= link_to "ログイン", signin_path %></li>
		<% end %>

	</ul>
</div>