<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initital-scale=1">
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page" data-theme="a">
		<%= render 'layouts/header' %>
		<%= render 'layouts/navpanel' %>
		<div role="content" class="ui-content" data-theme="a">
			<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %>"><%= value %></div>
      		<% end %>
  			<%= yield %>
  		</div>
  	</div>
</body>
</html>
